/*----------------------------------------*/

/*BASIC SETUP*/

/*----------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        top: 100px;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}

@-webkit-keyframes fadeDown {
    0% {
        opacity: 0;
        top: 100px;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif, 'Arial';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/*----------------------------------------*/

/*REUSABLE COMPONENTS*/

/*----------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}


/*----------------HEADINGS---------------*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h4 {
    margin-bottom: 15px;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 5px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #04a4fa;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}


/*----------------BUTTONS----------------*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    border: 2px solid #04a4fa;
    background-color: #04a4fa;
    color: #fff;
    margin: 0 10px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #04a4fa;
    color: #04a4fa;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #038ed9;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 2px solid #038ed9;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 2px solid #038ed9;
    color: #fff;
}


/*----------------------------------------*/

/*HEADER*/

/*----------------------------------------*/

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url('img/FrontPage-min.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/FrontPage-min.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    height: 100vh;
}


.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 1140px;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: fadeDown 2s ease-out;
    animation: fadeDown 2s ease-out;
}

.regards {
    font-size: 50%;
}

.logo {
    height: 50px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}


/*----------------------------------------*/

/*MAIN NAV*/

/*----------------------------------------*/

.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
    color: #fff;
}


.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #04a4fa;
}


/* Mobile nav */

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

.separator:before {
    content: "|";
}


/* Sticky nav */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    z-index: 10;
}

.sticky .main-nav {
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo {
    display: none;
}

.sticky .logo-black {
    display: block;
}

.sticky .separator {
    color: #555;
}

/*----------------------------------------*/

/*About*/

/*----------------------------------------*/

.long-copy {
    text-align: justify;
    text-indent: 100px;
    font-size: 120%;
    line-height: 150%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
}


/*----------------------------------------*/

/*Skills*/

/*----------------------------------------*/

.section-soft-skills {
    background-color: #fbfbfb;
}

.box {
    text-align: center;
}

.image {
    width: 40%;
    height: auto;
    margin-bottom: 15px;
}

.soft-skills-box {
    text-align: center;
    line-height: 150%;
}


.soft-skills {
    margin-bottom: 30px;
    font-size: 500%;
    color: #04a4fa;
}

/*----------------------------------------*/

/*Projects*/

/*----------------------------------------*/

.section-projects {
    background-color: #fbfbfb;
}

.project {
    position: relative;
    width: 100%;
}

.project-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.portfolio {
    width: 100%;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project:hover .project-image {
    opacity: 0.15;
}

.project:hover .portfolio {
    opacity: 1;
}

.portfolio .btn {
    text-transform: uppercase;
    font-size: 70%;
    padding: 10px 20px;
    margin-top: 10px;
}


/*----------------------------------------*/

/*CONTACT*/

/*----------------------------------------*/

*:focus {
    outline: none;
}

.qr-code {
    text-align: center;
}

.qr-code-image {
    width: 50%;
    margin-top: 30px;
}

.contact-details {
    font-size: 120%;
    word-spacing: 2px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.fa-envelope,
.fa-map-marker,
.fa-phone {
    margin-right: 10px;
    color: #04a4fa;
}

#map {
    width: 100%;
    height: 400px;
}

.map {
    padding-bottom: 0;
    padding-top: 10px;
}

/*----------------------------------------*/

/*FOOTER*/

/*----------------------------------------*/

footer {
    background-color: #414141;
    padding: 0;
    margin: 0;
    font-size: 120%;
    height: 60px;
}

.section-footer .col {
    margin-bottom: 0;
}


.section-footer .row {
    max-width: 1600px;
    padding: 0 4% 0 4%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.section-footer .footer-column-right {
    margin-top: 5px;
}

.section-footer .footer-column-left {
    margin-top: 10px;
}

.social-nav {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-nav li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-nav li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-nav li a:link,
.social-nav li a:visited {
    text-decoration: none;
    border: 0;
    color: #8d8d8d;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #d4d4d4;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.social-nav li a:link,
.social-nav li a:visited {
    font-size: 150%;
}

.fa-github,
.fa-linkedin,
.fa-link {
    -webkit-transition: color 0.5;
    transition: color 0.5;
}

.fa-linkedin:hover,
.fa-linkedin:active,
.fa-github:hover,
.fa-github:active,
.fa-link:hover,
.fa-link:active {
    color: #04a4fa;
}

.project-github:hover,
.project-github:active,
.project-link:hover,
.project-link:active {
    color: #fff
}

/*----------------------------------------*/

/*animations*/

/*----------------------------------------*/

#js-wp-1,
#js-wp-2,
#js-wp-3 {
    opacity: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

#js-wp-1.animated,
#js-wp-2.animated,
#js-wp-3.animated {
    opacity: 1;
}
